body {
    background-color: white;
    font: 20px Arial, sans-serif;
}

#BLOG {
    position: absolute;
    top: 8px;
    right: 16px;
    border-style: solid;
}

#LRN {
    position: absolute;
    top: 8px;
    right: 80px;
    border-style: solid;
}

#INDEX {
    position: absolute;
    top: 8px;
    right: 140px;
    border-style: solid;
}
