body {
    background-color: white;
    font: 20px Arial, sans-serif;
}

#BLOG {
    position: absolute;
    top: 8px;
    right: 16px;
}

#LRN {
    position: absolute;
    top: 8px;
    right: 65px;
}

#INDEX {
    position: absolute;
    top: 8px;
    right: 105px;
}
